<footer class="footer">
  <small>
    <%= t("layouts.footer.the") %> 
    <%= link_to "Ruby on Rails Tutorial", Settings.href.rails_tutorial %> 
    <%= t("layouts.footer.by") %> <%= link_to "Michael Hartl", Settings.href.author %>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.href.news %></li>
    </ul>
  </nav>
  <br>
  <%= link_to "English", locale:"en" %>
  <%= link_to "Vietnamese", locale:"vi" %>
</footer>
